body {
   font-family: Arial, sans-serif;
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0; 
   background-image: url('maths.jpg.jpg'); 
   background-size: cover;
   background-position: center; 
   background-repeat: no-repeat; 
}

h1 {
   color: red;
   text-align: center;
   margin-bottom: 20px; 
}

.calculator {
   width: 300px;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 4px 8px grey;
   background-color: transparent;
   text-align: center;

.display {
   background-color: white;
   color: gray;
   font-size: 2rem;
   text-align: right;
   padding: 10px 20px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 240px;
   height: 40px;
   margin: 0 auto;
   border: 2px dotted black; 
}

.buttons {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   background-color: transparent;
   padding: 10px;
   justify-content: center; 
}

button {
   font-size: 1.2rem;
   padding: 20px 0;
   border: none;
   background-color: white;
   cursor: pointer;
   border-radius: 5px;
   transition: background-color 0.3s ease;
}

button:hover {
   background-color: rgb(50, 48, 48);
   color: white;
}


